@{
    ViewBag.Title = "Home Page";
}
@using WebApp1.Models;

<div class="jumbotron">
    <h1>知識庫管理系統</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>新增知識</h2>
        <p>
            (新增知識描述)
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    @{
        UserData userData = (UserData)ViewData["userData"];
        if (userData == null || userData.Id == null)
        {
            <div class="col-md-4">
                <h2>登入</h2>
                帳號：<input type="text" name="id" id="id" required /><br />
                密碼：<input type="password" name="pwd" id="pwd" required /><br />
                <button id="Login" onclick="Login()" class="btn btn-default">登入</button>
                @Html.ActionLink("註冊", "Index", "Register")
                
            </div>
        }
    }
</div>
<script>
    function Login() {

    }
</script>